html { 
    font-size: 1em; /* = 16px */
    line-height: 1.6;
    color: #090;
    background-color: #111;
}

body {
    margin: 0 auto;
    max-width: 800px;
    font-family: monospace;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 300;
    color: #090;
    background-color: #111;
    -webkit-text-size-adjust: 100%;
}

.site-header h1 {
    border-bottom: #090 1px solid;
  margin-bottom: 0;
}
.site-header h2 {
  font-size: 0.8em;
  font-style: italic;
}

footer {
  border-top: green 1px solid;
  color: #090;
  text-align: center;
  font-size: smaller;
}

a {
  color: #090; }

a:hover {
  color: #00ff00; }

a:visited {
  color: #090; }

.cite {
  text-align: right;
  font-style: italic; 
}

.no-js {
    color: #900;
}

.hide-me {
    display:none;
}

.github-link {
  font-size: smaller;
}

.github-link img {
  vertical-align: middle;
  padding-right: 0.5em;
}

.github-link a:hover {
  color: #00ff00; 
}

@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) 
{
  body {
    margin: 0 0.5em;
    font-size: 11px;
    line-height: 1.5;
  }
}

